<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .img-mpg{
        display: flex;
        width: 300px;
        justify-content: center;
        align-items: center;
        

        }

    </style>
</head>
<body>
    <header class="navbar">
        <div class="navbar-brand">Learning Assistant</div>
        <nav class="nav_bar">
            <a href="/performance-entry-page">Performance Entry</a>
            <a href="/visual-representation-page">Visual Representation</a>
            <a href="/recommendations">Recommendations</a>
            <a href="/all-marks">Marks History</a>
        </nav>
        <button class="logout-btn" onclick="window.location.href='/logout'">Logout</button> <!-- Corrected to Logout -->
    </header>
    <main>
        <img class="img-mpg" src="../static/images/student-cartoon-style-studying-desk-illustration-depicting-surrounded-books-character-shows-expression-346039237.webp" alt="Student">


        

    </main>
</body>
</html>
